
<form action="/moviedetails/{{id}}/edit" method="post">
<img src="{{image}}">

  <label>
    <input type='text' name='name'>
  </label>

  <label>
    <input type='text' name='comment'>
  </label>

</form>




